<a href="https://colab.research.google.com/github/lucaswu0306/2023_8_20/blob/main/lesson_10_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#list
stu1 = [75,34,56,78,90]#sequence 串列資料包含在iterable，可以重複一個個取出值
display(stu1)

[75, 34, 56, 78, 90]

In [5]:
for score in stu1:
  print(score,end=' ')

75 34 56 78 90

In [6]:
print(stu1[0])#取出第一個值
print(stu1[-1])#取出最後一個值
print(stu1[:3])#取出前三個值
print(stu1[-3:])#取出後三個值

75
90
[75, 34, 56]
[56, 78, 90]