In [6]:
import csv
import os
root = os.path.abspath('./')
filePath = os.path.join(root,'csv_data','個股日成交資訊.csv')
with open(filePath,mode='r',encoding='utf-8',newline='') as file:
    reader = csv.reader(file)
    data_list = list(reader)
columns_data = data_list.pop(0)
for row in data_list:
    row[2] = int(row[2].replace(',',''))
    row[3] = int(row[3].replace(',',''))
    row[4] = float(row[4].replace(',',''))
    row[5] = float(row[5].replace(',',''))
    row[6] = float(row[6].replace(',',''))
    row[7] = float(row[7].replace(',',''))
    try:
        row[8] = float(row[8].replace(',',''))
    except ValueError:
        row[8] = 0.0
    row[9] = int(row[9].replace(',',''))

In [7]:
import pandas as pd
df = pd.DataFrame(data_list,columns=columns_data)
df

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0050,元大台灣50,46790503,3463425684,74.95,75.25,72.80,72.80,-2.05,23021
1,0051,元大中型100,43172,1177199,27.30,27.57,26.75,26.75,-0.52,45
2,0052,富邦科技,161425,9156750,57.60,57.60,55.35,55.35,-2.35,67
3,0053,元大電子,35076,1163448,33.36,33.61,32.56,32.69,-0.67,19
4,0054,元大台商50,27028,507569,18.80,19.00,18.64,18.64,-0.36,13
...,...,...,...,...,...,...,...,...,...,...
1108,9944,新麗,1463020,22024560,15.60,15.60,14.60,14.65,-0.75,796
1109,9945,潤泰新,5262676,178768894,34.20,34.30,33.40,33.40,-0.65,3169
1110,9946,三發地產,871456,10936770,12.55,12.55,12.55,12.55,-1.35,46
1111,9955,佳龍,827246,10257476,13.10,13.10,11.85,12.10,-0.50,412
1112,9958,世紀鋼,10816881,868126524,81.00,81.80,78.50,79.50,0.90,6743

In [8]:
df.info()#object代表字串

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1113 entries, 0 to 1112
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   證券代號    1113 non-null   object
 1   證券名稱    1113 non-null   object
 2   成交股數    1113 non-null   int64
 3   成交金額    1113 non-null   int64
 4   開盤價     1113 non-null   float64
 5   最高價     1113 non-null   float64
 6   最低價     1113 non-null   float64
 7   收盤價     1113 non-null   float64
 8   漲跌價差    1113 non-null   float64
 9   成交筆數    1113 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 87.1+ KB

In [9]:
df.head()

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0050,元大台灣50,46790503,3463425684,74.95,75.25,72.80,72.80,-2.05,23021
1,0051,元大中型100,43172,1177199,27.30,27.57,26.75,26.75,-0.52,45
2,0052,富邦科技,161425,9156750,57.60,57.60,55.35,55.35,-2.35,67
3,0053,元大電子,35076,1163448,33.36,33.61,32.56,32.69,-0.67,19
4,0054,元大台商50,27028,507569,18.80,19.00,18.64,18.64,-0.36,13

In [10]:
df.tail()

      證券代號  證券名稱      成交股數       成交金額    開盤價    最高價    最低價    收盤價  漲跌價差  成交筆數
1108  9944    新麗   1463020   22024560  15.60  15.60  14.60  14.65 -0.75   796
1109  9945   潤泰新   5262676  178768894  34.20  34.30  33.40  33.40 -0.65  3169
1110  9946  三發地產    871456   10936770  12.55  12.55  12.55  12.55 -1.35    46
1111  9955    佳龍    827246   10257476  13.10  13.10  11.85  12.10 -0.50   412
1112  9958   世紀鋼  10816881  868126524  81.00  81.80  78.50  79.50  0.90  6743

In [11]:
int('46,790,503'.replace(',',''))

46790503