In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             index=['台北','台中','台南','高雄'],
             columns=['b','d','e'])
frame

           b         d         e
台北 -1.793027  0.092308 -0.750060
台中 -0.388910 -1.840299  1.147167
台南  0.827059  1.068345 -0.562795
高雄  1.282273  0.469162  0.881063

In [2]:
frame.iloc[0]
f = frame.iloc[0].max()
max_value = frame.iloc[0][frame.iloc[0] == f].index[0]
max_value

'd'

In [3]:
display(frame)
print(frame.loc['台北'].sum())
print(frame.loc['台中'].sum())
print(frame.loc['台南'].sum())
print(frame.loc['高雄'].sum())
print(frame['b'].sum())
print(frame['d'].sum())
frame['e'].sum()

           b         d         e
台北 -1.793027  0.092308 -0.750060
台中 -0.388910 -1.840299  1.147167
台南  0.827059  1.068345 -0.562795
高雄  1.282273  0.469162  0.881063

-2.4507785468311334
-1.0820414383475778
1.332608923700493
2.632497119763021
-0.07260484526251054
-0.210483797575935

0.7153747011232481

In [4]:
display(frame)
frame.sum()
frame.sum(axis = 1)

           b         d         e
台北 -1.793027  0.092308 -0.750060
台中 -0.388910 -1.840299  1.147167
台南  0.827059  1.068345 -0.562795
高雄  1.282273  0.469162  0.881063

台北   -2.450779
台中   -1.082041
台南    1.332609
高雄    2.632497
dtype: float64

In [5]:
def a(s:pd.Series)->None:
    display(s)
frame.apply(a,axis=0)

台北   -1.793027
台中   -0.388910
台南    0.827059
高雄    1.282273
Name: b, dtype: float64

台北    0.092308
台中   -1.840299
台南    1.068345
高雄    0.469162
Name: d, dtype: float64

台北   -0.750060
台中    1.147167
台南   -0.562795
高雄    0.881063
Name: e, dtype: float64

b    None
d    None
e    None
dtype: object

In [6]:
def abc(s:pd.Series)->None:
    max = s.max()
    max_value = s[s==max].index[0]
    min = s.min()
    min_value = s[s==min].index[0]
    return pd.Series([max_value,min_value],index=['最大值','最小值'])


display(frame)
frame.apply(abc,axis = 0)

           b         d         e
台北 -1.793027  0.092308 -0.750060
台中 -0.388910 -1.840299  1.147167
台南  0.827059  1.068345 -0.562795
高雄  1.282273  0.469162  0.881063

      b   d   e
最大值  高雄  台南  台中
最小值  台北  台中  台北

In [7]:
def a(s:pd.Series)->None:
    display(s)
frame.apply(a,axis=1)

b   -1.793027
d    0.092308
e   -0.750060
Name: 台北, dtype: float64

b   -0.388910
d   -1.840299
e    1.147167
Name: 台中, dtype: float64

b    0.827059
d    1.068345
e   -0.562795
Name: 台南, dtype: float64

b    1.282273
d    0.469162
e    0.881063
Name: 高雄, dtype: float64

台北    None
台中    None
台南    None
高雄    None
dtype: object

In [11]:
def a(s:pd.Series)->pd.Series:
    max = s.max()
    max_value = s[s==max].index[0]
    min = s.min()
    min_value = s[s==min].index[0]
    return pd.Series([max_value,min_value],['最大值','最小值'])


frame.apply(a,axis=1)

   最大值 最小值
台北   d   b
台中   e   d
台南   d   e
高雄   b   d

In [9]:
def abc(s:pd.Series)->float:
    return s.max() - s.min()

frame.apply(abc,axis = 1)

台北    1.885335
台中    2.987467
台南    1.631141
高雄    0.813111
dtype: float64

In [10]:
def abc(s:pd.Series)->pd.Series:
    return pd.Series([s.max(),s.min()],index = ['最大','最小'])

frame.apply(abc,axis = 1)#apply會自動組合兩個series

          最大        最小
台北  0.092308 -1.793027
台中  1.147167 -1.840299
台南  1.068345 -0.562795
高雄  1.282273  0.469162