In [2]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             index=['台北','台中','台南','高雄'],
             columns=['b','d','e'])
frame

           b         d         e
台北 -1.331613  0.580267  0.073680
台中  1.142795 -1.225980 -0.503588
台南 -1.387444 -1.436495 -1.634984
高雄 -0.078063  0.347532  0.226279

In [3]:
#abs家絕對值
np.abs(frame)

           b         d         e
台北  1.331613  0.580267  0.073680
台中  1.142795  1.225980  0.503588
台南  1.387444  1.436495  1.634984
高雄  0.078063  0.347532  0.226279

In [13]:
frame.abs()

           b         d         e
台北  1.331613  0.580267  0.073680
台中  1.142795  1.225980  0.503588
台南  1.387444  1.436495  1.634984
高雄  0.078063  0.347532  0.226279

In [4]:
frame.iloc[0]
f = frame.iloc[0].max()
max_value = frame.iloc[0][frame.iloc[0] == f].index[0]
max_value

'd'

In [5]:
display(frame)
print(frame.loc['台北'].sum())
print(frame.loc['台中'].sum())
print(frame.loc['台南'].sum())
print(frame.loc['高雄'].sum())
print(frame['b'].sum())
print(frame['d'].sum())
frame['e'].sum()

           b         d         e
台北 -1.331613  0.580267  0.073680
台中  1.142795 -1.225980 -0.503588
台南 -1.387444 -1.436495 -1.634984
高雄 -0.078063  0.347532  0.226279

-0.6776655139050792
-0.5867727240003137
-4.458922705296992
0.4957478780123489
-1.6543245308751728
-1.7346759791367568

-1.8386125551781056

In [6]:
display(frame)
frame.sum()
frame.sum(axis = 1)

           b         d         e
台北 -1.331613  0.580267  0.073680
台中  1.142795 -1.225980 -0.503588
台南 -1.387444 -1.436495 -1.634984
高雄 -0.078063  0.347532  0.226279

台北   -0.677666
台中   -0.586773
台南   -4.458923
高雄    0.495748
dtype: float64

In [7]:
def a(s:pd.Series)->None:
    display(s)
frame.apply(a,axis=0)

台北   -1.331613
台中    1.142795
台南   -1.387444
高雄   -0.078063
Name: b, dtype: float64

台北    0.580267
台中   -1.225980
台南   -1.436495
高雄    0.347532
Name: d, dtype: float64

台北    0.073680
台中   -0.503588
台南   -1.634984
高雄    0.226279
Name: e, dtype: float64

b    None
d    None
e    None
dtype: object

In [8]:
def abc(s:pd.Series)->None:
    max = s.max()
    max_value = s[s==max].index[0]
    min = s.min()
    min_value = s[s==min].index[0]
    return pd.Series([max_value,min_value],index=['最大值','最小值'])


display(frame)
frame.apply(abc,axis = 0)

           b         d         e
台北 -1.331613  0.580267  0.073680
台中  1.142795 -1.225980 -0.503588
台南 -1.387444 -1.436495 -1.634984
高雄 -0.078063  0.347532  0.226279

      b   d   e
最大值  台中  台北  高雄
最小值  台南  台南  台南

In [9]:
def a(s:pd.Series)->None:
    display(s)
frame.apply(a,axis=1)

b   -1.331613
d    0.580267
e    0.073680
Name: 台北, dtype: float64

b    1.142795
d   -1.225980
e   -0.503588
Name: 台中, dtype: float64

b   -1.387444
d   -1.436495
e   -1.634984
Name: 台南, dtype: float64

b   -0.078063
d    0.347532
e    0.226279
Name: 高雄, dtype: float64

台北    None
台中    None
台南    None
高雄    None
dtype: object

In [10]:
def a(s:pd.Series)->pd.Series:
    max = s.max()
    max_value = s[s==max].index[0]
    min = s.min()
    min_value = s[s==min].index[0]
    return pd.Series([max_value,min_value],['最大值','最小值'])


frame.apply(a,axis=1)

   最大值 最小值
台北   d   b
台中   b   d
台南   b   e
高雄   d   b

In [11]:
def abc(s:pd.Series)->float:
    return s.max() - s.min()

frame.apply(abc,axis = 1)

台北    1.911880
台中    2.368775
台南    0.247541
高雄    0.425595
dtype: float64

In [12]:
def abc(s:pd.Series)->pd.Series:
    return pd.Series([s.max(),s.min()],index = ['最大','最小'])

frame.apply(abc,axis = 1)#apply會自動組合兩個series

          最大        最小
台北  0.580267 -1.331613
台中  1.142795 -1.225980
台南 -1.387444 -1.634984
高雄  0.347532 -0.078063