In [24]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -1.177097 -0.308659
1    a  two  2.303084 -0.908181
2    b  one  1.824103  0.931414
3    b  two -0.925540 -0.549742
4    a  one  0.045208  1.599521

In [25]:
#SeriesGroupBy
df['data1'].groupby(by=df['key1']).sum()

key1
a    1.171196
b    0.898563
Name: data1, dtype: float64

In [26]:
df['data1'].groupby(by = [df['key1'],df['key2']]).mean().unstack(level=1)

key2       one       two
key1
a    -0.565944  2.303084
b     1.824103 -0.925540

In [36]:
df.groupby(by = [df['key1'],df['key2']]).mean()

              data1     data2
key1 key2
a    one  -0.565944  0.645431
     two   2.303084 -0.908181
b    one   1.824103  0.931414
     two  -0.925540 -0.549742

In [32]:
#DataFrameGroupBy
df.groupby(by=['key1','key2']).mean()

              data1     data2
key1 key2
a    one  -0.565944  0.645431
     two   2.303084 -0.908181
b    one   1.824103  0.931414
     two  -0.925540 -0.549742

In [ ]:
#SeriesGroupBy
df.groupby(by=['key1','key2'])['data1'].mean()

key1  key2
a     one     0.330700
      two     1.160095
b     one    -0.872229
      two    -0.039881
Name: data1, dtype: float64