In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.019985 -0.354435
1    a  two -1.409560  0.761119
2    b  one  1.166128 -0.349447
3    b  two  2.098199 -0.075413
4    a  one  1.175843  1.349348

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      float64
 3   data2   5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

In [4]:
df.groupby(by = 'key1')

In [5]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  1.019985 -0.354435
1    a  two -1.409560  0.761119
4    a  one  1.175843  1.349348
b
  key1 key2     data1     data2
2    b  one  1.166128 -0.349447
3    b  two  2.098199 -0.075413

In [6]:
for name,group in df.groupby(['key1','key2']):
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one  1.019985 -0.354435
4    a  one  1.175843  1.349348
('a', 'two')
  key1 key2    data1     data2
1    a  two -1.40956  0.761119
('b', 'one')
  key1 key2     data1     data2
2    b  one  1.166128 -0.349447
('b', 'two')
  key1 key2     data1     data2
3    b  two  2.098199 -0.075413

In [7]:
list(df.groupby('key1'))

[('a',
    key1 key2     data1     data2
  0    a  one  1.019985 -0.354435
  1    a  two -1.409560  0.761119
  4    a  one  1.175843  1.349348),
 ('b',
    key1 key2     data1     data2
  2    b  one  1.166128 -0.349447
  3    b  two  2.098199 -0.075413)]

In [8]:
dict(list(df.groupby('key1')))

{'a':   key1 key2     data1     data2
 0    a  one  1.019985 -0.354435
 1    a  two -1.409560  0.761119
 4    a  one  1.175843  1.349348,
 'b':   key1 key2     data1     data2
 2    b  one  1.166128 -0.349447
 3    b  two  2.098199 -0.075413}

In [9]:
dict(list(df.groupby('key1')))['a']

  key1 key2     data1     data2
0    a  one  1.019985 -0.354435
1    a  two -1.409560  0.761119
4    a  one  1.175843  1.349348

In [10]:
dict(list(df.groupby('key1')))['b']

  key1 key2     data1     data2
2    b  one  1.166128 -0.349447
3    b  two  2.098199 -0.075413

In [11]:
dict(list(df.groupby(['key1','key2'])))

{('a',
  'one'):   key1 key2     data1     data2
 0    a  one  1.019985 -0.354435
 4    a  one  1.175843  1.349348,
 ('a',
  'two'):   key1 key2    data1     data2
 1    a  two -1.40956  0.761119,
 ('b',
  'one'):   key1 key2     data1     data2
 2    b  one  1.166128 -0.349447,
 ('b',
  'two'):   key1 key2     data1     data2
 3    b  two  2.098199 -0.075413}

In [12]:
dict(list(df.groupby(['key1','key2'])))[('a','one')]

  key1 key2     data1     data2
0    a  one  1.019985 -0.354435
4    a  one  1.175843  1.349348

In [13]:
len(df.groupby('key1'))

2

In [14]:
len(df.groupby('key2'))

2

In [15]:
grouped = df.groupby('key1')
len(grouped)

2

In [16]:
dict(list(grouped))

{'a':   key1 key2     data1     data2
 0    a  one  1.019985 -0.354435
 1    a  two -1.409560  0.761119
 4    a  one  1.175843  1.349348,
 'b':   key1 key2     data1     data2
 2    b  one  1.166128 -0.349447
 3    b  two  2.098199 -0.075413}

In [18]:
grouped[['data1','data2']].mean()

         data1     data2
key1
a     0.262089  0.585344
b     1.632164 -0.212430

In [ ]:
grouped['data1'].agg(['min','sum','max','min','mean'])#agg = aggregate

           min       sum       max       min      mean
key1
a    -0.096159  0.241185  0.196508 -0.096159  0.080395
b    -0.801794  0.602394  1.404189 -0.801794  0.301197

In [ ]:
grouped['data1'].agg([('平均','mean'),('加總','sum'),('最大值','max'),('最小值','min')])

            平均        加總       最大值       最小值
key1
a     0.080395  0.241185  0.196508 -0.096159
b     0.301197  0.602394  1.404189 -0.801794