<a href="https://colab.research.google.com/github/lucaswu0306/2023_8_20/blob/main/lesson_10_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#list
stu1 = [75,34,56,78,90]#sequence 串列資料包含在iterable，可以重複一個個取出值
display(stu1)

[75, 34, 56, 78, 90]

In [5]:
for score in stu1:
  print(score,end=' ')

75 34 56 78 90

In [6]:
print(stu1[0])#取出第一個值
print(stu1[-1])#取出最後一個值
print(stu1[:3])#取出前三個值
print(stu1[-3:])#取出後三個值

75
90
[75, 34, 56]
[56, 78, 90]

In [17]:
#建立空的list
empty_list = []
empty_list1 = list()
weekdays = ['星期一','星期二','星期三','星期四','星期五','星期六','星期天']
list('dog')

['d', 'o', 'g']

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
#list的實體方法
cities = []
cities.append('taipei')
cities.append("台北")
cities.append("台中")
cities.append("台南")
cities

['taipei', '台北', '台中', '台南']

In [32]:
cities.remove('台北')
cities

['taipei', '台中', '台南']

In [21]:
try:
  cities[4]
except IndexError:
  print("索引值出錯了")
except:
  print("出錯了")
else:
  print("沒有出錯")

索引值出錯了

In [19]:
cities[3]

'台南'

In [30]:
try:
  cities.remove("高雄")
except:
  print("沒有這個值")

沒有這個值

In [33]:
cities.pop()#移除最後一個
cities

['taipei', '台中']

In [35]:
cities.clear()
cities

[]